[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
"autopep8" = "*"
livereload = "*"
click = "*"
imgkit = "*"
pageshot = "*"
pillow = "*"
pyyaml = "*"
"jinja2" = "*"
google-api-python-client = "*"
"google-auth-httplib2" = "*"
google-auth-oauthlib = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.7"
