[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
"autopep8" = "*"
livereload = "*"
click = "*"
imgkit = "*"
pageshot = "*"
pillow = "*"
pyyaml = "*"
"jinja2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
